<section class="home-hero">
    <!-- render the dynamic data here -->
    <h1>This is the index component</h1>

    <router-view></router-view>

    {{!-- <moviethumb v-for="item in allMovies" :movie="item" :key="item.movies_id"></moviethumb> --}}
</section>


